.socialBtn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--primary-50);
    color: var(--primary-950);
    overflow: hidden;
    padding: 0.25rem;
}

.socialBtnWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.socialBtnIcon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
