.menuWrapper {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background-color: var(--primary-950);
  padding: clamp(1rem, 2vw, 1.25rem);
  gap: 1rem;
  overflow: hidden;
  position: relative;
}

.menuLeft {
  border: 1px solid var(--primary-800);
  padding: clamp(1rem, 2vw, 1.25rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 1.25rem)
}
.menuLeft ul {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 1.25rem);
  margin-top: clamp(1rem, 2vw, 1.25rem);
  margin-bottom: clamp(1rem, 2vw, 1.25rem);
}
.menuCenter {
  border: 1px solid var(--primary-800);
  height: 100%;
}

.menuRight {
  border: 1px solid var(--primary-800);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(-130deg, var(--primary-900) 0%, var(--primary-950) 50%);
}

.menuListItemContent {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, 1vw, 1.5rem);
  color: var(--primary-50);
  width: 100%;
}

.menuListItemContent > span:first-child {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-weight: 400;
  color: var(--primary-500)
}

.menuItemTextSlot {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: clamp(4rem, 4vw, 5rem);
  font-weight: 500;
  height: 1em;
  line-height: 1;
}

.menuItemTextSlot span {
  white-space: nowrap;
  display: block;
  line-height: 1;
}


  
.splineCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/*Mobile*/
@media screen and (max-width: 768px) {
  .menuWrapper {
    grid-template-columns: 1fr;
    width: calc(100% - 30px);
  }
  .menuRight {
    display: none;
  }
  .splineCanvas {
    display: none;
  }
}