/*Preloader*/
.preloader {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-950); 
    padding: 1.25rem; 
    font-size: clamp(0.75rem, 1vw, 0.95rem);
}

/*Top Container*/
.topContainer {
    z-index: 10;
    height: 33.333333%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: start;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-self: start;
}

.listContainer ul {
    gap: 0.03rem;
}

.listContainer li {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--primary-500);
}

.listContainer span:first-child {
    color: var(--primary-300);
}

.rulerIndicator {
    justify-self: center;
}

.pattern {
    justify-self: end;
}

/*Middle Container*/
.middleContainer {
    z-index: 10;
    height: 33.333333%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    color: var(--primary-500);
}

.middleContainer div:first-child {
    justify-self: start;
}

.middleContainer div:nth-child(2) {
    color: var(--primary-50);
}

.middleContainer div:last-child {
    justify-self: end;
}

.mouseIndicator {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}

/*Bottom Container*/
.bottomContainer {
    z-index: 10;
    height: 33.333333%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: end;
    color: var(--primary-500);
}

.bottomContainer div:first-child {
    justify-self: start;
}

.bottomContainer div:last-child {
    justify-self: end;
}

.indicator {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.indicator div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: end;
}

.square {
    position: relative;
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--primary-50);
}

.radarContainer {
    position: relative;
    width: 5.375rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.radar {
    width: 5.375rem;
    height: 5.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.radarGrid { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    overflow: hidden;
    pointer-events: none;
} 

.radarGrid div { 
    width: 50%; 
    height: 50%; 
    border: 0.3px solid var(--primary-500); 
}

.progressContainer {
    width: 100%;
    height: 0.625rem;
    border: 1px solid var(--primary-50);
    padding: 0.125rem;
}

.progressBar {
    width: 0%;
    height: 100%;
    background-color: var(--primary-50);
}

.radarSquare {
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--primary-50);
}