@reference "tailwindcss";

/*Preloader*/
.top-container {
    z-index: 10;
    height: 33.333333%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

@layer base {
    .preloader {
        @apply fixed inset-0 z-50 flex flex-col gap-5 items-center justify-between bg-neutral-950 w-screen h-screen p-5 text-[12px];
    }
}