@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "locomotive-scroll/dist/locomotive-scroll.css";
@import "tailwindcss";

:root {
  --primary-50: #fafafa;
  --primary-100: #f4f4f5;
  --primary-200: #e4e4e7;
  --primary-300: #d4d4d8;
  --primary-400: #a1a1aa;
  --primary-500: #71717a;
  --primary-600: #52525b;
  --primary-700: #3f3f46;
  --primary-800: #27272a;
  --primary-900: #18181b;
  --primary-950: #09090b;

  --secondary-50: #fafafa;
  --secondary-100: #f5f5f5;
  --secondary-200: #e5e5e5;
  --secondary-300: #d4d4d4;
  --secondary-400: #a3a3a3;
  --secondary-500: #737373;
  --secondary-600: #525252;
  --secondary-700: #404040;
  --secondary-800: #262626;
  --secondary-900: #171717;
  --secondary-950: #0a0a0a;

  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
  }

  body {
    background-color: var(--primary-950);
    color: var(--primary-50);
    box-sizing: border-box;
  }

  body ::selection {
    background-color: #bef264;
    color: var(--primary-950);
  }

  html {
    font-family: "JetBrains Mono", monospace;
  }

  a {
    color: inherit;
  }

  ul,
  li {
    list-style: none;
  }
}

.square {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: var(--secondary-50);
  transform: translate(-50%, -50%);
}
.square:nth-child(1) {
  top: 0;
  left: 0;
}
.square:nth-child(2) {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.square:nth-child(3) {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.square:nth-child(4) {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}




:root {
  --lightning-color: #bef264;
}

@keyframes text-fade-in {
  0% {
    color: inherit;
    opacity: 0;
  }
  1% {
    color: var(--lightning-color);
    opacity: 1;
  }
  15% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.8;
  }
  40% {
    color: var(--lightning-color);
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  70% {
    color: inherit;
    opacity: 0.5;
  }
  85% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.85;
  }
  55% {
    opacity: 0.2;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.text-fade-char {
  animation: text-fade-in 0.4s ease-out forwards;
}

.text-blink {
  animation: blink 1s ease-out;
}
