@import "locomotive-scroll/locomotive-scroll.css";
@import "tailwindcss";

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
  --primary-50: #fafafa;
  --primary-100: #f4f4f5;
  --primary-200: #e4e4e7;
  --primary-300: #d4d4d8;
  --primary-400: #a1a1aa;
  --primary-500: #71717a;
  --primary-600: #52525b;
  --primary-700: #3f3f46;
  --primary-800: #27272a;
  --primary-900: #18181b;
  --primary-950: #09090b;

  --accent-50: #F7FEE7;
  --accent-100: #ECFCCB;
  --accent-200: #D9F99D;
  --accent-300: #BEF264;
  --accent-400: #A3E635;
  --accent-500: #84CC16;
  --accent-600: #65A30D;
  --accent-700: #4D7C0F;
  --accent-800: #3F6212;
  --accent-900: #365314;
  --accent-950: #1E3A0F;

  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);

  --size-unit: 16; /* body font-size in design - no px */
  --size-container-ideal: 1440; /* screen-size in design - no px */
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
  --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));

  --font-family-sans: "Saans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --text-heading-family: var(--font-family-sans);
  --text-paragraph-family: var(--font-family-sans);

  --text-heading-h1-size: 10rem;
  --text-heading-h1-letter-spacing: -0.03em;
  --text-heading-h2-size: 6.625rem;
  --text-heading-h2-letter-spacing: -0.03em;
  --text-heading-h3-size: 4.5rem;
  --text-heading-h3-letter-spacing: -0.02em;
  --text-heading-h4-size: 3rem;
  --text-heading-h4-letter-spacing: -0.02em;
  --text-heading-h5-size: 2rem;
  --text-heading-h5-letter-spacing: -0.02em;
  --text-heading-h6-size: 1.25rem;
  --text-heading-h6-letter-spacing: -0.01em;

  --text-paragraph-body-size: 0.875rem;
  --text-paragraph-body-letter-spacing: 0em;
  --text-paragraph-label-size: 0.625rem;
  --text-paragraph-label-letter-spacing: 0em;
  --text-paragraph-label-small-size: 0.5rem;
  --text-paragraph-label-small-letter-spacing: 0em;
}

/* Tablet */
@media screen and (max-width: 991px) {
  :root {
    --size-container-ideal: 834; /* screen-size in design - no px */
    --size-container-min: 768px;
    --size-container-max: 991px;

    --text-heading-h1-size: 7rem;
    --text-heading-h2-size: 5rem;
    --text-heading-h3-size: 3.5rem;
    --text-heading-h4-size: 2.5rem;
    --text-heading-h5-size: 1.75rem;
    --text-heading-h6-size: 1.125rem;

    --text-paragraph-body-size: 0.875rem;
    --text-paragraph-label-size: 0.625rem;
    --text-paragraph-label-small-size: 0.5rem;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
  :root {
    --size-container-ideal: 550; /* screen-size in design - no px */
    --size-container-min: 480px;
    --size-container-max: 767px;

    --text-heading-h1-size: 4rem;
    --text-heading-h2-size: 3rem;
    --text-heading-h3-size: 2.25rem;
    --text-heading-h4-size: 1.75rem;
    --text-heading-h5-size: 1.5rem;
    --text-heading-h6-size: 1rem;

    --text-paragraph-body-size: 0.8125rem;
    --text-paragraph-label-size: 0.625rem;
    --text-paragraph-label-small-size: 0.5rem;
  }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 390; /* screen-size in design - no px */
    --size-container-min: 320px;
    --size-container-max: 479px;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
  }

  html {
    font-family: var(--font-family-sans);
    font-size: var(--size-font);
  }

  a {
    color: inherit;
  }

  ul,
  li {
    list-style: none;
  }
}

body {
    background-color: var(--primary-950);
    color: var(--primary-50);
    box-sizing: border-box;
  }

  body ::selection {
    background-color: var(--accent-300);
    color: var(--primary-950);
  }

.container {
  max-width: var(--size-container);
}

.container.medium {
  max-width: calc(var(--size-container) * 0.85);
}

.container.small {
  max-width: calc(var(--size-container) * 0.7);
}
