@import "tailwindcss";

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Saans Mono";
  src: url("/fonts/Saans/SaansMono-TRIAL-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

html,
body {
  font-family: "Saans", sans-serif;
}
