@import "locomotive-scroll/locomotive-scroll.css";
@import "tailwindcss";

@font-face {
  font-family: "CommitMono";
  src: url("/fonts/CommitMonoVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-TRIAL-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
  --primary-50: #fafafa;
  --primary-100: #f4f4f5;
  --primary-200: #e4e4e7;
  --primary-300: #d4d4d8;
  --primary-400: #a1a1aa;
  --primary-500: #71717a;
  --primary-600: #52525b;
  --primary-700: #3f3f46;
  --primary-800: #27272a;
  --primary-900: #18181b;
  --primary-950: #09090b;

  --accent-50: #F7FEE7;
  --accent-100: #ECFCCB;
  --accent-200: #D9F99D;
  --accent-300: #BEF264;
  --accent-400: #A3E635;
  --accent-500: #84CC16;
  --accent-600: #65A30D;
  --accent-700: #4D7C0F;
  --accent-800: #3F6212;
  --accent-900: #365314;
  --accent-950: #1E3A0F;

  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
  }

  body {
    background-color: var(--primary-50);
    color: var(--primary-50);
    box-sizing: border-box;
  }

  body ::selection {
    background-color: var(--accent-300);
    color: var(--primary-950);
  }

  html {
    font-family: "Saans", sans-serif;
  }

  a {
    color: inherit;
  }

  ul,
  li {
    list-style: none;
  }
}


:root {
  --lightning-color: var(--accent-300);
}

@keyframes text-fade-in {
  0% {
    color: inherit;
    opacity: 0;
  }
  1% {
    color: var(--lightning-color);
    opacity: 1;
  }
  15% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.8;
  }
  40% {
    color: var(--lightning-color);
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  70% {
    color: inherit;
    opacity: 0.5;
  }
  85% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.85;
  }
  55% {
    opacity: 0.2;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.text-fade-char {
  animation: text-fade-in 0.4s ease-out forwards;
}

.text-blink {
  animation: blink 1s ease-out;
}
